.menu{
}

.menu ul{
    //border: 1px dashed;
    margin: auto auto;
    margin-top: 3%;
    padding-left:5%;
}

.menu li{
    //border: 1px solid;
    position: relative;
    display: inline-block;
    font-size: 16px;
    border-top-left-radius: 15px;
    font-size: 26px;
    font-family: 'Cutive Mono', serif;
    color: white;
    height: 52px;
    width: 136px;
//    margin-right: -5%;
    //background-color: black;
    background-size: 136px  52px;
    background-repeat: no-repeat;
}
.menu li a{
    padding-left: 36px;
    color: black;
}

.menu-entry a:link{
    text-decoration:none;
}

.menu a {
    position: relative;
    top: 18%;
}

textarea {
    height: 5em;
    width: 50em;
}

.column-names {
    font-family: 'Cutive Mono', serif;   
    font-weight: bold;
}

.tasklist ul li
{
    list-style-type: none;
}