<div id="menu" class="menu">
  <ul>
    <li class="menu-entry" ng-repeat="person in people">
      <a ng-src="{{person}}" ng-click="getTasks(person.Name)">{{person.Name}}</a>
    </li>
  </ul>
</div>

<div id="tasklist" class="tasklist">
  <form ng-submit="addTask()">
    <input type="text" name="input" ng-model="text">
  </form>
  <ul>
    <li ng-repeat="task in tasks">
      <div class="tasksinfo">
	<img ng-source="task" ng-click="flipTask(task)" ng-src="{{getImg(task.Done)}}">
	{{task.Title}}	
      </div>
    </li>
  </ul>
</div>
